%section.admin-control.feature-gallery.page-container
  .container
    .titles.text-center
      %h3 Give admins more control without slowing down developers
      %h4 Get your developers up and running on new projects quickly with centralized user management and access controls.
    .row.features-description
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/7-authentication-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Authentication
          %p Secure your account with GitLab support for 2FA, U2F, Kerberos, CAS, Atlassian Crowd, SAML and more.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/8-sync-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 LDAP group sync
          %p Automatically sync groups and manage SSH-keys, permissions, and authentication based on LDAP server.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/9-permissions-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Permissions
          %p Manage access and permissions with user roles and group-level settings.
    .row.features-description
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/10-repo-size-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Repository size restictions
          %p Set global, per group, or per project limits for your repositories’ size.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/11-branches-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Protected branches
          %p Control who can create, push, or delete branches at a roles-based and user-specific level.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/12-deployment-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Deployment flexibility
          %p Say goodbye to pre-configured VMs and run GitLab on almost any infrastructure.
