%section.top-reasons.feature-gallery.feature-gallery-alt.page-container#top-reasons
  .container
    .titles.text-center
      %h2 Top reasons to choose GitLab
    .row.features-description
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/16-git-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Next-generation git platform
          %p Tightly-integrated version control, project management, code review, testing, and deployment to thread conversation and maintain context across your full development process.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/17-scale-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Scale
          %p A single machine server handles thousands of users and repositories. If your team is distributed, easily spin up a secondary GitLab Geo instance.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/18-monthly-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Updated monthly
          %p We release on the 22nd of every month so you never have to wait too long for new features. Of course, you choose when you update.
    .row.features-description
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/19-transparency-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Transparency
          %p GitLab’s roadmap and issue trackers are open. Submit an issue, add your perspective to open issues, and follow the development process.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/20-open-source-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Open source
          %p GitLab Enterprise Edition customers also have access to the source code. Scan or modify the code to meet your security and development needs.
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/21-cost-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Cost-effective
          %p GitLab is feature-packed, updated monthly, and is a fraction of the cost. No need for multiple products with different billing cycles or complex licensing rules.
      .text-center
        %button.btn.cta-btn.red Compare GitLab to other tools
